ion-content {
  --background: rgb(122, 111, 249);
  --background: linear-gradient(180deg, rgba(122, 111, 249, 1) 0%, rgba(255, 255, 255, 1) 50%);

  form {
    padding: 0 5%;
    padding-top: 0%;
    padding-bottom: 90%;

    ion-label {
      font-size: 1.1rem;
      color: #a3a3a3;
    }

    ion-input {
      border: 1px solid #E5E5E5 !important;
      border-radius: 30px;
      height: 4rem;
      margin: 10px 0;
      padding: 0 10%;
      box-sizing: border-box;
      color: #171717;
    }
  }
}
.input_password {
  position: relative;
  top: 10%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #171717;
}
p{
  color: red;
}
.button-green{
  padding: 8%;
  padding-left: 30%;
  padding-right: 30%;
}
