<ion-content>
  <div class="back">
    <ion-icon name="chevron-back-outline" (click)="modal.dismiss()"></ion-icon>
  </div>
  <ion-grid>
    <ion-row class="space">
      <ion-col class="center logo">
        <img src="assets/icon/logo.png" alt="Logo SpotyMike">
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="bioSection" (ngSubmit)="onSubmit()">
    @if(error){
    <p class="error"><ion-icon name="alert-outline"></ion-icon>{{ error}}</p>
    }
    <ion-label>Email</ion-label>
    <ion-input type="Email" formControlName="email" name="email" placeholder="mike@mike.mike"></ion-input>
    @if (bioSection.get('email')?.invalid && (bioSection.get('email')?.dirty ||bioSection.get('email')?.touched)) {
    <div>
      @if(bioSection.get('email')?.errors?.['required'] ){
      <p class="error"><ion-icon name="alert-outline"></ion-icon>Email obligatoire.</p>
      }
      @else if(bioSection.get('email')?.errors?.['pattern'] ){
      <p class="error"><ion-icon name="alert-outline"></ion-icon>Format de l'email invalide.</p>
      }
    </div>
    }
    <ion-button class="button-green" [disabled]="submitForm || !bioSection.valid" type="submit">
      @if(submitForm){
      <ion-spinner name="crescent"></ion-spinner>
      }
      @else {
      <span>valider</span>
      }
    </ion-button>
  </form>
</ion-content>
