<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/home/like">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/home/playlist">
      <ion-icon aria-hidden="true" name="musical-notes-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/home/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
