<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home/tab">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="like" href="/home/like">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="playlists" href="/home/playlists">
      <ion-icon aria-hidden="true" name="musical-notes-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/home/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
