<ion-content [fullscreen]="true">

  <button class="arrow-left"></button>

  <div class="img-playlist"></div>
  <div class="img-creator"></div>
  <div class="playlist-title">Playlist Name</div>
  <div class="creator-name">Creator</div>
  <div class="playlist-duration">XXh</div>
  <div class="object-type">Playlist  • 2024</div>

  <button class="start-stop-button" onclick="changeIcon()">
    <ion-icon name="pause" class="start-stop" id="startStopIcon"></ion-icon>
  </button>

  <div class="separator"></div>
  <div class="song-title">Song Name</div>
  <div class="song-artist">Artist Name</div>

  <button class="song-icon-button heart-button">
      <ion-icon name="heart-outline" class="heart-icon-border"></ion-icon>
  </button>

  <button class="song-icon-button share-button">
      <ion-icon name="share-social-outline" class="share-icon-border"></ion-icon>
  </button>

</ion-content>
