<ion-content [fullscreen]="true">

  <button class="arrow-left"></button>
  <div class="img-playlist"></div>
  <div class="img-creator"></div>
  <div class="playlist-title">Playlist Name</div>
  <div class="creator-name">Creator</div>
  <div class="playlist-duration">XXh</div>
  <div class="object-type">Playlist  • 2024</div>
  <!-- <button class="start-stop"></button> -->
  <ion-icon name="pause" class="start-stop"></ion-icon>
  <div class="separator"></div>
  <div class="song-title">Song Name</div>
  <div class="song-artist">Artist Name</div>
  <ion-icon name="heart-outline" class="heart-icon-border"></ion-icon>
  <ion-icon name="share-social-outline" class="share-icon-border"></ion-icon>
  <!-- <ion-icon src="SpotyMike-mobile2/src/assets/icon/play.svg"></ion-icon> -->
  <!-- <ion-button aria-label="Play">
    <ion-icon name="play" aria-hidden="true"></ion-icon>
  </ion-button> -->


</ion-content>
