ion-content {
  --background: rgb(2,0,36);
  --background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(21,171,144,1) 0%, rgba(255,255,255,1) 50%);
  height: 100vh; 
  width: 100%;
  position: relative;
  z-index: 1;
}

.search-icon {
  position:absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m18.031 16.617l4.283 4.282l-1.415 1.415l-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9s9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617m-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.867-3.133-7-7-7s-7 3.133-7 7s3.133 7 7 7a6.977 6.977 0 0 0 4.875-1.975z'/%3E%3C/svg%3E");
  background-color: currentColor;
  color: black;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  top: 8%;
  left: 89.5%;
  z-index: 2;
}

.img-circle {
  position: absolute;
  width  : 30px;
  height : 30px;
  background : #D9D9D9;
  padding: 5%;
  top: 7%;
  left: 5%;
  border-radius: 100px;
  z-index: 2;
}

.album-container {
  position: absolute;
  display: flex;
  width: 260px;
  height: 150px;
  border-radius: 30px;
  background-color: #15AB90;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  z-index: 2;

  .album-title {
    position: absolute;
    top: 15%;
    left: 8%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    z-index: 3;
  }

  .music-type {
    position: absolute;
    top: 35%;
    left: 8%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: medium;
    z-index: 3;
  }

  .discover-text {
    position: absolute;
    top: 60%;
    left: 8%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    z-index: 3;
  }

  .album-frame {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 150px;
    background-color: #D9D9D9;
    z-index: 3;
  }

  .arrow-right {
    position: absolute;
    border: solid white;
    border-width: 0 3px 3px 0;
    background-color: #15AB90;
    display: inline-block;
    bottom: 12%;
    left: 7%;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 3;
  }
}