ion-row{
  margin-left: -89%;
  margin-right: 0px;
  padding-left: 1px;
  ion-col{
  }
}
.sapce-img{
  height: 57px;
  width: 57px;
  margin: 1%;
}
p {
  color: #0D062D;
}
.position-name-artist {
}

.name-possition{
  margin-top: -20%;
  font-size: 1.1rem;
  padding: 1px;
  padding-left: 20%;
  color: black;
}
