ion-item {
  --background: transparent; 
}
.sapce-img{
  height: 57px;
  width: 57px;
  margin: 1%;
}
p {
  color: #0D062D;
}
.position-name-artist {
}

.name-possition{
  margin-top: -20%;
  font-size: 1.1rem;
  padding: 1px;
  padding-left: 20%;
  color: black;
  
.duration {
  display: inline-block; 
  text-align: center;
}
