p {
  color: #171621;
  font-size: 16px;
  margin: -6%;
  text-align: center;
  font-weight: bold;
}

ion-icon {
  font-size: 1.6rem;
  text-align: center;
  color: #171621;
}

.Lead-field {
  margin-top: 4%;
}

.container {
  padding-top: 10%;
  background-color: transparent;
}

.sapce-img {
  height: 117px;
  width: 117px;
  margin-left: -6%;
  padding: 0%;
}

.grid {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 407px;
  height: 153px;
  /* Adjust height as necessary */
}

span {
  margin-left: 9px;
  margin-right: 41px;
  padding: 6px;
  width: 225px;
  text-align: start;
}

.artist-position {
  font-size: 14px;
  margin: 0;
  color: #a3a3a3;
  width: 64%;
  margin-top: 37px;
  margin-left: -259px;
  text-align: start;
}

.container {
  margin-left: 0%;
  margin-right: 0%;
}
