app-login{
  width: 100%;
}
.bg-transparent {
  background: transparent;
}
form {
  padding: 0 5%;
  padding-top: 80%;
  padding-bottom: 80%;
  ion-label{
    font-size: 0,5rem;
    color: #A3A3A3;
  }
  ion-list{
    ion-input{
      border: 100px;
      color: #171717;
    }
  }
}





