ion-content {
  --background: rgb(21, 171, 144);
  --background: linear-gradient(174deg, rgba(21, 171, 144, 1) 0%, rgba(252, 251, 252, 1) 50%);
}
p{
  /*
  text-align: center;
  color: aliceblue;
  font-size: 1.4rem;
  margin-left: 20px;
  margin-right: 20px;*/
  text-align: center;
  color: aliceblue;
  font-size: 1.4rem;
  margin-left: -23px;
  margin-right: 0px;
  width: 30%;
}
.dots{
  font-size: 2rem;
  margin-top: -3%;
  margin-left: 4%;
  margin-right: 12%;
  padding: 2%;
  width: 40%;

}
.header-content{
  margin: 8%;
}
.img{
  width:87%;
  height: 87%;
}
.space-img{
  padding: 3%;
  margin-left: 7%;
}
ion-icon{
  margin: 2%;
  font-size: 2rem; /* Adjust the size as needed */
}
.icon{
  margin: 2%;
  padding-left: 73%;
}
.icon-music{
  display: flex;
  justify-content: space-between; /* Distributes space between the icons */
  align-items: center; /* Centers the icons vertically */
  padding: 8%;
  margin: 1%;
}
.icon-music ion-icon {
  flex: 1; /* Each icon will take up equal space */
  margin: 0 5px; /* Adjust the horizontal margin as needed */
}
.header-content {
  display: flex;
  align-items: center; /* Center items vertically */
  margin: 1%;
}

.back-icon {
  margin-right: 10px; /* Add some space between the back icon and the text */
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 154%; /* Ensures the container takes up full width */
}

.header-text {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  color: aliceblue;
  font-size: 1.4rem;
  margin-left: 16%;
  width: 100%;
  margin-right: 0%;
}
.play-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: rgb(28, 98, 158);
}

.play-time span {
  width: 50px;
  text-align: center;
}

.ion-range {
  flex: 1;
  margin: 0 10px;
}
.reduced-modal {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px; /* Taille réduite de la modal */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white; /* Couleur de fond de la modal réduite */
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
}
