.bg-transparent {
  background: transparent;
}
form {
  padding: 0 5%;
  padding-top: 90%;
  padding-bottom: 90%;

  ion-list {
    padding-bottom: 5%;
    ion-label {
      --padding-start: 5%;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 16px;
      font-weight: semi-bold;
      color: #a3a3a3;
    }
    ion-input {
      border: 1px solid #E5E5E5;
      border-radius: 30px;
      height: 4rem;
      margin-top: 3%;
      margin-bottom: 6%;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 16px;
      --padding-start: 5%;
      box-sizing: border-box;
      color: #171717;
    }
  }
  a {
    display: block;
    color: #15AB90;
    text-align: center;
  }
  .button-green{
    padding: 8%;
    padding-left: 30%;
    padding-right: 30%;
  }
  .password-forgot{
  text-align: right;
  }
}

.spinner-position {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}
.input_password {
  position: relative;
  top: 10%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #171717;
}

.error {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  font-weight: semi-bold;
  color: #FF1F7D; 
  padding-top: -10% !important;
  padding-bottom: 5%;
}