p {
  color: #171621;
    font-size: 16px;
    margin: -6%;
    text-align: center;
}
ion-icon {
  font-size: 28px;
  text-align: center;
  color: #171621;
}
.Lead-field{
  margin-top: 4%;
}
.container{
  padding-top: 10%;
  background-color: transparent;
}
.sapce-img{
  height: 117px;
  width: 117px;
  margin-left: 6%;
  padding: 0%;
}
.grid{
  display: flex;
  align-items: center;
  padding: 20px;
  width: 407px;
  height: 153px; /* Adjust height as necessary */
}
span{
  margin-left: 4%;
  margin-right: 12%;
  padding: 2%;
  width: 68%;
}
.artist-position{
  font-size: 14px;
  margin: 0;
  color: #a3a3a3;
  width: 64%;
  margin-top: 14%;
  margin-left: -70%;
  text-align: start;
}
.container{
  margin-left: 0%;
  margin-right: 0%;
}

