ion-row{
  margin-left: -113%;
  margin-right: 5px;
  padding-left: 1px;
  ion-col{
  }
}
.sapce-img{
  height: 100px;
  width: 100px;
  margin: 1%;
}
p {
  color: #0D062D;
  padding-right: 49%;
  text-align: center;
}

.name-possition{
  margin-top: -20%;
  font-size: 1.1rem;
  padding: 1px;
  padding-left: 20%;
  color: black;
}
