<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="modal.dismiss()"></ion-icon>
    <ion-title>
      TopSongs
    </ion-title>
  </ion-toolbar>
</ion-header>
@for (item of TopSongs; track $index) {
  <ion-item>
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" [src]="item.image||'assets/icon/img.png'"/>
  </ion-thumbnail>
  <ion-label><h1>{{item.artist.fullname}}</h1><h2>artiste</h2><h4 class="duration">{{item.duration}}</h4></ion-label>
</ion-item>
}

