<button class="seeAll-button">See All</button>

<div class="top-playlist-title">Top Playlists
    <div class="container">
      <div class="img-playlist">
        <div class="title-playlist">Playlist 1
          <div class="creator-playlist">Creator 1</div>
        </div>
      </div>
      <div class="img-playlist"></div>
      <div class="title-playlist">Playlist 2
        <div class="creator-playlist">Creator 2</div>
      </div>
      <div class="img-playlist"></div>
      <div class="title-playlist">Playlist 3
        <div class="creator-playlist">Creator 3</div>
      </div>
    </div> 
</div>